<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> Hello world </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-5">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <button class="btn btn-sm btn-light"><a class="nav-link" href="/?lang=en" th:text="#{lang.en}"></a></button>
                <button class="btn btn-sm    btn-light"><a class="nav-link" href="/?lang=de" th:text="#{lang.de}"></a></button>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover mt-5">
        <label>
            <h1 class="cover-heading" th:text="#{label.hello_world}"></h1>
        </label>
    </main>

</div>
</body>
</html>